# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Large Datasets & Notebook Artifacts
*.csv
*.parquet
*.json
.ipynb_checkpoints/

# Large Model Files (often exceed GitHub 100MB limit)
*.joblib
*.pkl
*.h5

# Local IDE files
.vscode/
.idea/
